body {

}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.logotipo {
    background-color: #444444;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px 0px 15px 15px !important;
    border-bottom: solid 5px steelblue;
}
li,
.nav-item {
    font-size: 8pt !important;
}


.forms{

    width: 300px;
}

.conts {
    display: flex;
    justify-content: center;
}